.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Menu collapse */

#menu {
  color: #CCC5B9;
  background-color: #04080F;
  margin-top: -20px;
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 70%; 
}

#editor {
  background-color: #CCC5B9;
  position: fixed;
    top:0;
    bottom: 0;
    left: 30%;
    right: 0; 
}

#title {
  background-color: #CCC5B9;
  color: #04080F;
  width: 100%;
  height: 10%;
  padding-left: 2%;
  border: none;
  font-size: 24px;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#content {
  background-color: #CCC5B9;
  color: #04080F;
  width: 100%;
  height: 100%;
  padding: 2%;
  border: none;
  border-top: 2px solid black;
  font-size: 16px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.list {
  display: none;
  margin-bottom: 20px;
}

.list-active {
  max-height: 100px;
  transition: all linear 0.5s 0.3s;
}

#menu .mainList {
  width: 100%;
  border: none;
  background-color: #04080F;
  color: #EB551C;
  padding: 5%;
}

#menu .listItem {
  width: 100%;
  border: none;
  background-color: #04080F;
  color: #CCC5B9;
  padding: 2%;
  text-align: left;
}

#user {
  text-align: center;
  padding-top: 10%;
}