.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Menu collapse */

#menu {
  color: #CCC5B9;
  background-color: #04080F;
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:60%; 
}

#editor {
  background-color: #CCC5B9;
  position: fixed;
    top:0;
    bottom: 0;
    left: 40%;
    right: 0; 
}

#title {
  background-color: #CCC5B9;
  color: #04080F;
  width: 95%;
  padding-left: 2%;
  border: none;
  font-size: 24px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 50px;
  padding-bottom:0px;
}

#content {
  background-color: #CCC5B9;
  color: #04080F;
  width: 95%;
  height: 100%;
  padding-left: 2%;
  border: none;
  border-top: 2px solid black;
  font-size: 16pt;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 5%;
  padding-right: 5%;
}
/* 
#options {
  width: 10%;
  background-color: #04080F;
  position: fixed;
    top:0;
    bottom: 0;
    left: 30%;
    right: 0; 
} */


.list {
  display: none;
  margin-bottom: 20px;
}

.list-active {
  transition: all linear 0.5s 0.3s;
}

#menu .mainList {
  width: 100%;
  border: none;
  background-color: #04080F;
  color: #EB551C;
  padding: 5%;
  font-size: 14pt;

}

#menu .listItem {
  width: 100%;
  border: none;
  background-color: #04080F;
  color: #CCC5B9;
  padding: 2%;
  text-align: left;
}

#logostudybites {
  width: 100%;
}

#user{
  text-align: center;
  margin-top: 0;
  padding: 10%;
  margin-bottom: 5%;
}

#user * {
  margin: 1%;
}

.new {
  width: 100%;
  border: none;
  background-color: #EB551C;
  color: #04080F;
  padding: 5%;
}

.disabled {
  display: none;
}

#logout {
  border: none;
  background-color: #04080F;
  color: #EB551C;
  padding-bottom: 10%;
}

input[value="Delete"], input[value="Save"] {
  border: none;
  color: #EB551C;
  background-color: #CCC5B9;
}

.disabled {
  color: black;
}

#bookSelect {
  background-color: transparent;
  border-color: #CCC5B9;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12pt;
  padding: 1%;
}

option {
  background-color: #CCC5B9;
}

#buttonsEditor {
  padding: 1%;
}

#collaborators {
  margin: 2%;
}

#addCollab {
  display: inline;
}

#collab {
  background-color:#EB551C;
  padding: 1%;
  margin-right: 1%;
  border-radius: 10px;
  font-size: 10pt;
  color: #CCC5B9;
}

#collabID {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

input[value="Add"] {
  background-color: #CCC5B9;
  border: none;
  color: #EB551C;
}

input[value="x"] {
  background-color: transparent;
  border: none;
  font-weight: bold;
}


#user:hover {
  cursor: default;
}

#menu .listItem:hover {
  background-color: rgba(235,85,28, 0.5);
  padding: 7%;
}


.login {
  width: 85%;
  background-color: transparent;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  padding: 5%;
  font-size: 12pt;
}

.loginButton {
  background-color: transparent;
  color: #EB551C;
  border: none;
  font-size: 12pt;
  padding-top: 10%;
  padding-bottom: 7%;
}

#loginForm {
  display: inline;
}
